@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Poppins:ital,wght@100;200;300;400;500;600;700&display=swap");
@import "tailwindcss";

:root {
  scroll-behavior: smooth;
}

.hamburgerLine {
  @apply w-[30px] h-[2px] my-2 block bg-white transition-all duration-300 ease-in-out origin-top-left;
}

.hamburgerActive > span:nth-child(1) {
  @apply rotate-45;
}

.hamburgerActive > span:nth-child(2) {
  @apply scale-0 opacity-0;
}

.hamburgerActive > span:nth-child(3) {
  @apply -rotate-45 origin-bottom-left;
}

@keyframes spin{

  to{
    transform: rotate(360deg);
  }
}
.animate-spin-slow{
  animation: spin 20s linear infinite;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease-in-out;
}

.animate-slideUp {
  animation: slideUp 0.4s ease-out;
}

#uavs .swiper-wrapper {
  display: flex !important;
  height: 400px !important;
  align-items: center !important;
}